<h1 class="heading"><span class="underline--magical">Add a Quote</span></h1>
<div class="mt-5">
  <%= simple_form_for (@quote) do |f| %>
  <%= f.input :url_of_quote %>
  <%= f.input :content %>
  <%= f.submit %>
  <% end %>
</div>
