.side-navbar {
  background-color: $primary-color;
  border-radius: 8px;
  padding: 20px;
  width: 180px;
}

.sidebar-link {
  color: white;
  font-family: $navbar-links-font;
  font-size: 18px;
  margin-bottom: 10px;
  align-items: center;
  position: relative;

  p {
    margin-bottom: 0px;
  }

  .icon {
    margin-right: 12px;
  }

  .active {
    color: black;
    font-weight: bold;
  }

  .red-notification-indicator {
    background-color: #CB1215;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    position: absolute;
    padding-top: 2px;
    top: -4px;
    left: 6px;
    width: 19px;
    height: 19px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

}

