<% unless @sources == [] %>
<%= render partial: "shared/sources/friends-feed", locals: { sources: @sources } %>
<%= render partial: "shared/sources/get-sources-for-friends-feed" %>

<% else %>
  <div class="nil-feed">
    <h3 class="text">Please <strong>follow other users</strong> <br>to see their Captures</h3>
    <div class="arrow-right">
      <h1 class="fas fa-long-arrow-alt-right"></h1>
    </div>
  </div>

  <div class="nil-my-captures">
    <h3 class="text">Start Capturing by using our <br><%= link_to "Chrome Extension", "https://chrome.google.com/webstore/detail/capture/jpnkblkejlgonnmaemmcmfjglogondjf", target: "_blank" %></h3>
    <div class="d-flex justify-content-center">
      <%= cl_image_tag "Screenshot_2021-03-31_at_18.21.57_vudxhh", width: 400;  %>
    </div>
  </div>

  <div class="nil-my-captures">
    <h3 class="text">A quick How-to Guide on the Capture Extension:</h3>
    <ul>
      <li>After downloading Capture from the Chrome Store pin it to your extensions to access its full functionality</li>
      <li>To disable or to turn Capture off entirely click on the Capture icon that appears in the top right corner of your browser after pinning it to your extensions</li>
      <li>Once you have installed Capture go to your favorite news websites and start capturing news snippets</li>
      <li>Add comments to share your thoughts with your friends, add tags to structure your news articles, or delete captures that you want to undo</li>
    </ul>
  </div>
<% end %>


