<div class="title-and-favicon">
</div>


<% @source.quotes.each do |quote| %>
<ul class="quote-cards-list-source-show">
  <div class="quote-card">
    <li> <i class="fas fa-quote-right"></i>   <%= quote.content %> </li>

    <%= link_to quote_path(quote), class: "remove-underline" do   %>
      <p class="comment-icon"><i class="far fa-comment"></i> <%= quote.comments.count %></p>
    <% end %>

  </div>
</ul>

  <div><%= cl_image_tag "https://#{@source.website}/apple-touch-icon.png", width: 60, height: 60, class: "favicon-source-card" %></div>

<% end %>
