
<div id="hallo" data-controller="highlightQuotes">
  <h1 class="heading"><span class=""> <%= @source.title %></span></h1>
  <br>

  <% if @source.user != current_user %>
    <p>Captured by: <%= @source.user.username %></p>
    <% else %>
    <p>Folder: <%= @source.folder.folder_name %>
  <% end %>

  <div id="text">
    <p>North Korea's leader Kim Jong-un has issued a rare personal apology for the killing of a South Korean official, Seoul says.</p>
    <p>Mr Kim reportedly told South Korean leader Moon Jae-in that the "disgraceful affair" should not have happened.</p>
    <p>South Korea has said the 47-year-old man was found by troops floating in the North's waters.</p>
    <p>He was then shot dead and his body was set alight, according to Seoul.</p>
    <p>It is not known what the man was doing there. The South Korean government has said he may have been trying to defect to the North but his family has denied this.</p>
    <p>The killing - the first of a South Korean citizen by North Korean forces for a decade - has caused outrage in the South.</p>
    <p>The border between the Koreas is tightly policed, and the North is thought to have a "shoot-to-kill" policy in place to prevent coronavirus from entering the country.</p>

  </div>


  <script>
    function highlight(text) {
      var inputText = document.getElementById("text");
      var innerHTML = inputText.innerHTML;
      var index = innerHTML.indexOf(text);
      if (index >= 0) {
       innerHTML = innerHTML.substring(0,index) + "<span class='highlight'>" + innerHTML.substring(index,index+text.length) + "</span>" + innerHTML.substring(index + text.length);
       inputText.innerHTML = innerHTML;
      }
    }

// highlight("the")

    fetch(`${window.location.pathname}`, { headers: { accept: "application/json"} })
      .then(response => response.json())
      .then((data) => {
        data.source_quotes.forEach((d) => {
          highlight(`${d.content.trim()}`)
        })
      });
  </script>

</div>

