<div class="">


  <h1 class="heading show-heading"><%= @source.title %></h1>
  <p class="source-show-citation"><%= link_to "#{@source.website.gsub("www.", "")}", "#{@source.url_of_website}"%> · by <%= link_to "Tara McKelvey Sterling", "#"  %>, Virginia, ·  September 22, 2020</p>

  <script>

// HIGHLIGHT EXISTING QUOTES
    function highlight(text, id) {
      var inputText = document.getElementById("text");
      var innerHTML = inputText.innerHTML;
      var index = innerHTML.indexOf(text);
      if (index >= 0) {
       innerHTML = innerHTML.substring(0,index) + `<span data-id=${id} class="permanent-highlight">` + innerHTML.substring(index,index+text.length) + "</span>" + innerHTML.substring(index + text.length);
       inputText.innerHTML = innerHTML;
      }
    }

      fetch(`${window.location.pathname}`, {headers: { accept: "application/json"}})
        .then(response => response.json())
        .then((data) => {
          data.source_quotes.forEach((d) => {
            highlight(`${d.content.trim()}`, d.id )
          })
        });

  </script>
</div>




