<h2><%= @source.title %></h2>

<% @source.quotes.each do |quote| %>
<ul class="quote-cards-list-source-show">
  <div class="quote-card-source-show">
    <li> <%= quote.content %> </li>

    <%= link_to quote_path(quote) do   %>
      <p class="comment-icon"><i class="far fa-comment"></i> <%= quote.comments.count %></p>
    <% end %>

  </div>
</ul>

<% end %>
