<h1>Show Source</h1>

<h2><%= @source.title %></h2>
<p> <%= @source.website %></p>
<p> <%= @source.url_of_website %></p>
<p> <%= @source.date_time_of_save %></p>

<h1><strong>Would be nice to add the quotes of the specific source here as well, Max! Thanks :D</strong></h1>

