*:focus {outline:none !important}
.searchbar {
  width: 100%;
  margin-top: 4px;
  position: relative;
}

.searchbar-field {
  background-color: #F6F6F4;
  border: 0px solid;
  width: 100%;
}

// Placeholder Padding
.searchbar .form-control {
  padding-left: 30px;
}

// Placeholder Color
.form-control::placeholder {
  color: #797979;
}

// Placeholder Hover
.form-control:hover::placeholder {
  color: #8B8B8B;
}

// Form when typing
.form-control[type=text] {
  color: black;
}

// Form when focused (selected)
.searchbar .form-control:focus {
  box-shadow: none;
  border-color: transparent;
  background-color: #F6F6F4;
}

// Search Icon
.search-bar-icon {
  color: #797979;
  top: 8px;
  left: 3px;
  position: absolute;
}







// .searchbar-field:hover {
//   background-color: #E9EBE8;
// }

// .searchbar-field:active {
//   background-color: #F6F6F4;
// }

// .container {
//   display: flex;
// }

// Background Color when focused (selected)
// .searchbar-field:focus {
//   background-color: #F6F6F4;
//   outline: none !important;
// }





