.primary-line {
  border-bottom: 1px solid black;
  display: block;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 3px;
}

.secondary-line {
  border-bottom: 1px solid $dark-grey;
  display: block;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}
