.side-navbar {
  background-color: #A72301;
  border-radius: 8px;
  padding: 24px;
  // margin-top: 91px;
  // position: fixed;
  width: 200px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  // top: 173px;

}

.sidebar-link {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  align-items: center;

  p {
    margin-bottom: 0px;
  }

  .icon {
    margin-right: 6px;
  }

  .active {
    color: black;
    font-weight: bold;
  }
}
