.side-navbar {
  background-color: $primary-color;
  border-radius: 8px;
  padding: 20px;
  width: 208px;
  position: fixed;
}

.sidebar-link {
  color: white;
  font-family: $navbar-links-font;
  font-size: 18px;
  margin-bottom: 10px;
  align-items: center;

  p {
    margin-bottom: 0px;
  }

  .icon {
    margin-right: 6px;
  }

  .active {
    color: black;
    font-weight: bold;
  }
}
