.global-nav {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #F6F6F4;
  z-index: 1;

  box-shadow: 0px 2px 10px rgba(197, 197, 197, 0.5);
}

.top-navbar {
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;

  width: 1300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.top-navbar .logo-and-name {
  width: 208px;
  margin-right: 30px;

  .logo-name-d-flex {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 8px;
    }
    h1 {
      margin-bottom: 0px !important;
      color: $logo-color;
      font-family: $logo-font;
      font-weight: bold;
      font-size: 30px;
    }
    :hover {
      text-decoration: none;
    }
  }
}

.top-navbar-right {
  text-align: right;
  width: 816px;
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
  a {
    color: black;
  }
}

.top-navbar-left {
  width: 816px;
  text-align: center;


  .back-btn {
    font-size: 20px;
    color: black;

    :hover {
      color: black;
    }
  }

}

.top-navbar-global-search {
  width: 208px;
  margin-left: 30px;
}

.private_mode_tag {
  padding: 2px 8px;
  background-color: $primary-color;
  color: white;
  border-radius: 6px;
  display: inline-block;
  text-align: right;
}

