.global-nav {
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: #F6F6F4;
  z-index: 1;
}

.top-navbar {
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;

  width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.top-navbar .logo-and-name {
  width: 20%;

  .logo-name-d-flex {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 8px;
    }
    h1 {
      margin-bottom: 0px !important;
      color: $logo-color;
      font-family: $logo-font;
      font-weight: bold;
      font-size: 30px;
    }
    :hover {
      text-decoration: none;
    }
  }
}

.top-navbar-middle {
  width: 60%;
  padding-right: 30px;
  padding-left: 30px;

  .back-btn {
    font-size: 20px;
    color: black;

    :hover {
      color: black;
    }
  }
}

.top-navbar-global-search {
  width: 208px;
}


