// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$logo-color: #333333;
$heading-color: #333333;

$primary-color: #395C6B;


$light-grey: #D8D7D5;
$dark-grey: #797979;



$background-color: #F6F6F4;




// $secondary-color:
