<div class="quote">
  <i class="fas fa-quote-left"></i>
  <p class=""><span><%= @comment.quote.content %></span></p>
</div>

<div class="comments-div">
  <%= render partial: "comments/comment-reply", locals: { comments: [@comment] } %>
</div>
