.devise-div {
  margin-top: 150px;
}

.devise-title {
  color: $primary-color;
  font-family: $standard-font;
}

.input-title {
  color: $primary-color;
  font-family: $standard-font;
}

.action-btn input {
  background-color: $primary-color;
  border-radius: 2px;
  color: white;
}

// shared Links

.shared-link {
  color: $dark-grey;
}

.shared-link:hover {
  color: $dark-grey;
}
