.devise-div {
  margin-top: 100px;
}

.devise-title {
  color: #E0CEA0;
  font-family: 'Merriweather', serif;
}

.input-title {
  color: #E0CEA0;
  font-family: 'Quattrocento Sans', sans-serif;
}

.action-btn input {
  background-color: #E0CEA0;
  border-radius: 2px;
}

// shared Links

.shared-link {
  color: #BEBEBE;
}

.shared-link:hover {
  color: #BEBEBE;
}
