.display-flex-container {
  display: flex;
}

.sidebar-rest {
  width: 23vw;
  padding-right: 20px;
}

.center-content {
  flex-grow: 1;
  width: 55vw;
}

.whole-container-right-of-sidebar {
  width: 100%;
}

.friends-bar {
  width: 21vw;
  height: 70vh;
}

.navbar-title-and-user {
  min-height: 104px;
}
