.display-flex-container {
  display: flex;
}

.sidebar-rest {
  width: 20vw;
  padding-right: 20px;
}

.center-content {
  flex-grow: 1;
  width: 60vw;
}

.whole-container-right-of-sidebar {
  width: 100%;
}

.friends-bar {
  width: 20vw;
  height: 70vh;
}
