.display-flex-container {
  display: flex;
  justify-content: space-between;
}

.sidebar-rest {
  width: 18vw;
  padding-right: 20px;
}

.center-content {
  width: 60vw;
}

.whole-container-right-of-sidebar {
  width: 100%;
}

.friends-bar {
  width: 20vw;
  margin: 0px 12px 0px 24px;
}
