.display-flex-container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

.sidebar-rest {
  width: 20%;
}

.center-content {
  width: 60%;
  padding: 30px;
  padding-top: 0px;
}

.friends-bar {
  width: 20%;
}
