
.overview-header {
  font-family: 'Open Sans';
  color: black;
  margin-left: -2px;
}

.folders-activity-div {
  margin-top: 20px;
  display: flex;

  .col-6 {
    max-width: 100%;
    padding: 0px;
    margin-bottom: 10px;
  }
}

#activity-wrapper {
  margin-left: 20px;
}

#activity-box {
  background: white;
  border: 1px solid #D8D7D5;
  border-radius: 8px;
  padding: 5px;
}

.overview-folder-img {
  width: 190px;
  height: 140px;
  margin: 0;
  padding: 0px;
  border-radius: 8px;
  object-fit: cover;
  font-family: 'Open Sans';
  color: black;
}

.overview-folder-name {
  color: black;
  font-family: 'Open Sans';
}



.folder {
  background: white;
  padding: 8px 16px;
  border: 1px solid #D8D7D5;
  border-radius: 8px;
  color: black;

  :hover {
    text-decoration: none;
  }

  .folder-content {
  display: flex;
  align-items: center;
    p {
      margin-left: 12px;
      margin-bottom: 0px;
    }
  }
}





