<h1 class="heading"><span class="underline--magical">Create a new Folder</span></h1>
<div class="mt-5">
  <%= simple_form_for (@folder) do |f|%>
  <%= f.input :folder_name %>
  <%= f.submit %>
  <% end %>
</div>
