<!-- <div class="searchbar">
  <p class="search-bar-icon"><i class="fas fa-search"></i></p>
  <%= form_tag folder_path(@folder), method: :get do %>
    <%= text_field_tag :folder_filter_query, params[:folder_filter_query], class: "form-control searchbar-field", placeholder: "Filter" %>
  <% end %>
</div> -->


<%= render 'shared/folders/my-captures-grid' %>
<%= render 'shared/sources/my-captures-grid' %>
