.profile-heading-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-primary-line {
  border-bottom: 1px solid black;
  display: block;
  width: 624px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 3px;
}

.profile-secondary-line {
  border-bottom: 1px solid $dark-grey;
  display: block;
  width: 624px;
  margin: 0 auto;
  align-items: center;
}

.log-out-and-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;

  .log-out {
    display: block;
    margin-top: 2px;
    font-family: $standard-font;
    font-size: 15px;
    color: $dark-grey;
  }

  .edit-profile {
    display: block;
    margin-top: 2px;
    font-family: $standard-font;
    font-size: 15px;
    color: $dark-grey;

    :hover {
      color: $dark-grey;
    }
  }

}
