.profile-username {
  color: white;
  font-family: 'Merriweather', serif;
}

.user-show-avatar {
  margin: 0 2rem 0 0;
}

.user-link {
  color: white;
}

.user-link:hover {
  color: white;
  text-decoration: none;
}

.user-link-div {
  margin: 20px 100px 0px 0px;
  padding: 5px 0px 0px 0px;
}

.user-link-div-active {
  border-bottom: 3px solid #ffffff;
}
