.profile-username {
  color: white;
  font-family: 'Merriweather', serif;
}

.user-show-avatar {
  margin: 2rem;
}

.user-link {
  color: white;
}

.user-link:hover {
  color: white;
  text-decoration: none;
}

.user-link-div {
  margin-left: 70px;
  margin-right: 40px;
  padding: 5px 0px 0px 0px;
}

.user-link-div-active {
  border-bottom: 3px solid #ffffff;
}
