.profile-recent-activity {
  .recent-activity-title {
    color: $heading-color;
    font-family: $secondary-heading-font;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
