.stats {
    background-color: white;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #D8D7D5;

  .value {
    font-size: 20px;
    font-family: $standard-font;
    font-weight: bold;
    line-height: 1px;

  }

  .descriptor {
    font-family: $standard-font;
    line-height: 0;
  }
}
