<div class="right-column-content">
  <%= render 'shared/right-column/suggested-for-you' %>
  <div class="feedback-btn mt-2">
    <%= link_to "Send us Feedback", "https://forms.gle/jkA7rdCiruiGY3qv9", target: :_blank, class: "text-decoration-none"  %>
  </div>
</div>

