.update-btn {
  display: inline-block;
  margin: 0px;
  border: 1px solid $dark-grey;
  margin-bottom: 15px;
  border-radius: 8px;
}

.cancel-account {
  font-family: $standard-font;
  font-size: 12px;
}
