.folder-text {
  text-decoration: none;
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;

  margin: 0px 0px 10px 3rem;
  line-height: 20px;

}

.your-folders {
  color: white;
  margin: 3rem 0rem 0.8rem 2.5rem;
  font-weight: bold;
  font-family: 'Quattrocento Sans', sans-serif;
}
