.logo-sidebar {
  position: relative;
  left: 86px;
  top: 20px;
  margin-bottom: 50px;
}

.logo-and-website-div {
  margin-left: 40px;
}

.logo-title {
  margin: 0px 0px 0px 10px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #E0CEA0;
  font-size: 30px;
}


