.div-main-links {
  border-bottom: 1px solid #B7B9BD;
  padding-bottom: 10px;
  margin-left: 3rem;
}

.main-link {
  font-size: 18px;
  display: inline;
  color: black;
}

.main-link:hover {
  text-decoration: none;
  color: black
}

.main-link-text {
  margin-left: 5px;
}

.active-caret {
  color: black;
  position: absolute;
  left: 25px;
}
