.div-main-links {
  margin-top: 30px;
  margin: 3rem 0rem 0rem 2.5rem;
}

.main-link {
  font-size: 24px;
  display: inline;
  color: white;
  font-family: 'Merriweather', serif;
}

.main-link:hover {
  text-decoration: none;
  color: white;
}

.main-link-icon {
  width: 30px;
}

.main-link-text {
  margin-left: 20px;
  font-size: 16px;
}

.active-caret {
  color: #DED0B4;
  background-color: #DED0B4;
  line-height: 10px;
  width: 8px;
  position: absolute;
  left: 0px;
}

.active-caret-horizontal {
  font-size: 1px;
  color: #DED0B4;
  background-color: #DED0B4;
  line-height: 10px;
  width: 25px;
  position: absolute;
  left: 0px;
  margin: 0px 0px 11px 0px;
}

.vertical-rectangle {
  width: 8px;
  height: 20px;
  background-color: #DED0B4;
  position: absolute;
  left: 0px;
}
