.comment-feed-cards {
  // overflow-y: scroll;
  // max-height: 93vh;
  height: 100vh;
}

.discussion-container {
  height: 100%;
  display: flex;
}


.comment-container {
  height: 100%;
  // width: 22%;
  padding-top: 40px;
  transition: all 400ms ease-in-out;
  transform: translateY(0px);
}


///



.right-column {}

.comment-card-link {
  color: black;
}

.comment-card-link:hover {
  color: #666666;
  text-decoration: none;
}

.comment-card {
  background-color: white;
  margin-top: 16px;
  border-radius: 20px;
  padding: 10px;
}

.avatar-and-username {
  width: auto;
  max-width: 180px;
}

.comment-card .username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.comment-card .time {
  font-family: 'TimesNewRoman';
  font-size: 14px;
  color: #666666;
}

.comment-card .source-title {
  font-family: 'Merriweather', serif;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  max-width: 500px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.comment-card .source-sub-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: 'Quattrocento Sans', sans-serif;
  color: #797979 !important;
  font-size: 14px;
  margin: 0px;
}

.comment-card .action {
  margin: 0px;
  font-size: 14px;
  color: #797979 !important;
  font-family: 'Quattrocento Sans', sans-serif;
}

.comment-card .comment-card-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.edit-tool-card {
  margin-top: 8px;
  border-radius: 20px;
}

.edit-tool-card .quote-display-text {
  width: 230px;
  color: white;
}

.edit-tool-card .highlight-btn {
  color: #D8CAAF;
  padding: 3px;
  border-radius: 2px;
}

.edit-tool-card .highlight-btn:hover {
  color: #D8CAAF;
  background-color: #797979;
}

.selected {
  background-color: dodgerblue;
  color: white;
}