

<%= cl_image_tag("Screenshot_2020-08-25_at_17.42.48_xjhppf",
      width: 220, height: 80, crop: :fill, class: "logo-sidebar") %>

<div class="div-main-links-sidebar">
  <ul class="nav-bar-links">
    <%= link_to sources_path, class: "nav-bar-links" do  %>
    <li> <i class="fas fa-home"></i></li>
    <li class="home-btn-navbar"> <strong>Home</strong></li>
    <% end %>
  </ul>

  <ul class="nav-bar-links">
    <li> <i class="fas fa-bell"></i> </li>
    <li class=""> <strong>Notifications</strong></li>
  </ul>

  <ul class="nav-bar-links">
    <li> <i class="fas fa-search"></i> </li>
    <li class=""> <strong>Search</strong></li>
  </ul>
</div>

<div class="all-folders-in-sidebar">
  <ul>
  <% Folder.where(user: current_user).each do |folder| %>

    <div class="div-folder-in-sidebar">
      <%= link_to folder_path(folder), class: "folder-link ul-text-decoration" do %>
          <li class="folder-in-sidebar"> <i class="fa fa-archive"></i> <%= folder.folder_name %></li>
      <% end %>
    </div>

  <% end %>
</ul>
</div>

