<div class="heading-div text-center">
  <!-- No Heading -->
  <% if @heading.nil? %>
      <h1 class="no-heading"><span class="">__</span></h1>

  <!-- Profile Heading -->
  <% elsif @profile_show_page == true %>
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <% @user = User.find(params[:id]) %>
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "heading mr-3 profile-heading-avatar" %>
        <% else %>
          <%= cl_image_tag "#{@default_profile_image}", class: "heading mr-3 profile-heading-avatar" %>
        <% end %>
      </div>
      <div>
        <h1 class="heading m-0"><span class=""><%= @heading %></span></h1>
      </div>
    </div>

  <!-- Normal Heading -->
  <% else %>
    <h1 class="heading"><span class=""><%= @heading %></span></h1>
  <% end %>
</div>
