<%= render 'shared/navbars/landing-page-navbar'  %>

<div class="about-us-content">
    <div>
        <h1 class="about-us-title">Capture</h1>
        <h2 class="about-us-subtitle"><strong>Capture</strong> and <strong>share</strong> your online news.</h2>
    </div>
    <h2 class="about-us-subtitle">
        Do you often find yourself <strong>forgetting what you read</strong> in the news 
        just a day earlier? <strong>Annoyed when wanting to share</strong> your key learnings 
        from a news article with different friends? We hope capture will <strong>save you 
        as much time consuming your news</strong> as it did for us. No more forgetting 
        important statistics you read about in your news. No more spamming your 
        friends with full news articles. Capture let's you <strong>save your key snippets 
        and share these with your followers through the click of a button</strong>. Download 
        our <strong>free extension</strong> by following <a href="https://chrome.google.com/webstore/detail/capture/jpnkblkejlgonnmaemmcmfjglogondjf" target="_blank"><strong>this link</strong></a>
        link to the Chrome Store and follow our 
        How-to Guide instructions provided on your personal feed page after signing up 
        <a href="https://www.getcapture.org/users/sign_up" target="_blank"><strong>here</strong></a>
        to find out more on how to use capture. Welcome to a community of avid online 
        learners who have always been on the lookout for a simpler way of saving and 
        sharing their newest insights from the web.
    </h2>
    <div>
        <h1 class="about-us-title">Who are we?</h1>
    </div>
    <div class="about-us-photos"> 
        <div class="about-us-photo"> 
            <%= cl_image_tag "v1626193499/Screen_Shot_2021-03-24_at_4.05.30_PM_copy_akrtke.png", class: "avatar" %>  
            <h2 class="about-us-subtitle"><strong>Max</strong></h2>
            <a href="https://www.linkedin.com/in/max-glasmacher-9a47a7171/" target="_blank"><strong>
            <i class="fab fa-linkedin"></i></strong></a>
            
        </div>
        <h1 class="about-us-title"> & </h1>
        <div class="about-us-photo"> 
            <%= cl_image_tag "v1626193460/profil-bild_pl0gia.jpg", class: "avatar" %>
            <h2 class="about-us-subtitle"><strong>Maxi</strong></h2>
            <a href="https://www.linkedin.com/in/maximilian-glasmacher/" target="_blank"><strong>
            <i class="fab fa-linkedin"></i></strong></a>
        </div>
    </div>
</div>


