<div>
  <br>
  <h4 class="text-center">This page is coming soon.</h4>

  <br>
  <div class="d-flex justify-content-center">
    <%= cl_image_tag "Screenshot_2021-03-19_at_18.59.00_oq7uxw", width: 400;  %>
  </div>

</div>
