<div class="my-captures-folders">
  <% unless @folders.nil? %>
    <div class="row">
      <% @folders.each do |folder| %>
        <div class="col-4">
          <%= link_to folder_path(folder) do  %>
            <div class="folder">
              <p class="folder-content"><i class="far fa-folder"></i><%= folder.folder_name %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
