<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Someone would like to request early access to Capture!</h4>

    <p>Email: <%= @contact.email %></p>
  </body>
</html>
