.global-search-card-user {
  padding: 5px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.global-search-card-user p {
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

.global-search-card-user .follower-count {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px !important;
}

.remove-hover:hover {
  text-decoration: none;
}

.global-search-card-user:hover {
  background-color: #DFDFDF;
  text-decoration: none;
  color: black;
}

.avatar-global-search {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.global-search-username-follower-count-div {
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.global-search-username-follower-count-div p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.global-search-username-follower-count-div .follower-count {
  font-size: 13px;
  color: #686868;
}

.col-6-global-search {
  padding: 5px;
}

.global-search-card-source {
  color: black;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.global-search-card-source .title {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

.global-search-card-source:hover {
  background-color: #DFDFDF;
  text-decoration: none;
  color: black;
}

.global-search-source-banner {
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 0px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.global-search-card-source p {
  padding: 5px;
}

.global-search-card-source .title {
  margin: 0 0 1em 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.model-title {
border-bottom: 1px solid #D8CAAF;
padding: 0;
margin: 0px 5px 10px 5px;
font-size: 20px;
font-weight: bold;
color: #DFDFDF;
font-family: 'Merriweather', serif;
}

.no-marg-no-pad {
  margin: 0px;
  padding: 0px;
}





.global-search-card-folder {
  color: black;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.global-search-card-folder .title p {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}

.global-search-card-folder .folder-user {
  font-family: 'Quattrocento Sans', sans-serif !important;
  font-size: 14px !important;
  color: #797979;
  padding-top: 0px;

}

.global-search-card-folder:hover {
  background-color: #DFDFDF;
  text-decoration: none;
  color: black;
}

.global-search-folder-banner {
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 0px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.global-search-card-folder p {
  padding: 5px;
}

.global-search-card-folder .title {
  margin: 0 0 1em 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


