.global-search-field-div {
  position: relative;

  i {
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 15px;
    color: #797979;
  }
}

.global-search-form {
  background-color: #F6F6F4;
  border: 1px solid #797979;
  border-radius: 15px;
  padding-left: 30px;
}

.global-search-form::placeholder {
  color: #797979;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
