*:focus {outline:none !important}
.searchbar {
  width: 100%;
  margin-top: 4px;
  position: relative;
}

.searchbar-field {
  margin-bottom: 5px;
  background-color: #181A23;
  border: 0px solid;
  width: 100%;
}

// .searchbar-field:hover {
//   background-color: #E9EBE8;
// }

.searchbar-field:focus {
  background-color: #181A23;
  outline: none !important;
}

.searchbar-field:active {
  background-color: #181A23;
}

.searchbar .form-control {
  padding-left: 35px;
}

.form-control[type=text] {
  color: #C3C3C3;
}

.form-control::placeholder {
  color: #C3C3C3;

}

.form-control:hover::placeholder {
  color: #8B8B8B;
}

.searchbar .form-control:focus {
  box-shadow: none;
  border-color: transparent;
}

.container {
  display: flex;
}

.search-bar-icon {
  color: #C3C3C3;
  top: 9px;
  left: 9px;
  position: absolute;
}

.search-capture-bar {
  margin: 35px 20px 39px 20px;
  border-radius: 2px;
  background-color: #FFFFC2;
}


