.source-and-quote-cards {
  display: flex;
  justify-content: space-between;
}

.feed-quote-card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #D8D7D5;
  padding: 6px;
  margin-top: 16px;
  width: 35%;
  margin-left: 30px;
}


