.all-sources-home {
  height: 78vh;
  overflow-y: scroll;
  padding-top: 3px;
}

.source-card {
  border: 1px solid #B5B6B5;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  position: relative;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
}

.title-time-info-tags {
  flex-grow: 1;
}

.source-card-title {
  font-family: 'Arial', serif;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 0px 0px 0px 15px;
}

.source-card-title:hover {
  color: #4E4E4E;
}

.info-tag-div {
  background-color: #D0E7FC;
  padding: 2px 15px 2px 15px;
  border-radius: 15px;
  display: inline-block;
  font-family: "TimesNewRoman";
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  margin: 5px 0px 0px 15px;
}

.info-tag-div:hover {
  background-color: #C4DFF6;
  text-decoration: none;
}

.info-tag-div img {
  border-radius: 5px;
}

.info-tag-text {
  border-radius: 15px;
  display: inline-block;
  font-family: "TimesNewRoman";
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  margin: 0px 0px 0px 0px;
}

.source-time {
  font-family: "TimesNewRoman";
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  width: 15%;
  margin-left: 8px;
  // margin-right: 10px;
  // margin-top: 10px;
}

.source-list-quotes {
  width: 100%;
  list-style: none;
  padding-inline-start: 0px;
  margin-bottom: 0px !important;
}

.source-quote-div {
  display: flex;
  align-items: flex-start;
  margin: 10px 0px 0px 8px;
}

.source-quote-div:hover {
  transform: scale(1.002);
  transition-duration: 0.5s;
}

.source-quote-text {
  margin-left: 16px;
  padding-bottom: 10px;
  margin-right: 20px;
  font-family: 'Inconsolata', monospace;
}

// Javascript CSS
.source-quote-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.rotating-quotation-mark {
  transform: rotateZ(90deg);
  margin-bottom: 0px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// UNTIL HERE

.date_of_article {
  font-family: "TimesNewRoman";
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  padding-left: 16px;
  width: 300px;
}

.source-icon {
  margin-right: 20px;
  padding-right: 5px;
  color: black;
  font-family: "TimesNewRoman";
  margin-bottom: 0px;
}

.source-icon:hover {
  color: black;
  text-decoration: none;
}

.source-photo {
  width: 300px;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
}
