.quote-card {
  margin-bottom: 16px;
  border: 1px solid #B5B6B5;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  padding: 20px 20px 15px 20px !important;
}

.quote-card-text {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
}

.comment-icon {
  margin: 0px;
  margin-left: 5px;
  margin-top: 7px;
  color: black;
}

.remove-underline:hover {
  text-decoration: none;
}

.quote-card-comments {
  margin-top: 15px;
}

.comment-username {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 0px 10px;

}

.comment-time {
  font-family: "TimesNewRoman";
  font-size: 11px;
  font-weight: 300;
  color: #666666;
  margin: 0px 0px 0px 5px;
}

.comment-content {
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 34px;
}

.comment-input-field {
  font-family: 'Inconsolata', monospace;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #B5B6B5;
  padding-left: 5px;
}

.permanent-highlight {
  background-color: #D8CAAF;
  color: black;
}

.stored-highlight {
  background-color: #AAB1BB;
  color: black;
}
