.all-follow-cards {
  margin-top: 50px;
}

.follow-card {
  width: 100%;
  margin-top: 20px;
  border-radius: 2px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #9C9C9C;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.avatar-follow-card {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.follow-full-name {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 13px;
  margin-bottom: 3px;
}

.follow-full-name-link {
  color: black;
}

.follow-full-name-link:hover {
  color: black;
}

.follow-follower-count {
  margin-left: 20px;
  margin-top: 0px !important;
}

.follow-btn {
  color: black;
}

.follow-btn:hover {
  text-decoration:none;
  color: black;
}

.follow-btn-div:hover {
  transform: scale(1.03);
  color: #666666;
  cursor: pointer;
}

.follow-btn-div:hover .follow-btn {
  color: #666666;
}

.follow-btn-div {
  text-align: center;
  margin-right: 20px;
  width: 150px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border: 1px solid #9C9C9C;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
