.follow-card {
  width: 90%;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #D0DBCD;
}

.avatar-follow-card {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.follow-user-name {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
}
