.friend-quote-card {
  background-color: #D0DBCD;
  margin: 20px;
  border-radius: 10px;
}

.friend-quote-list {
  list-style: none;
  padding-inline-start: 0px;
}

.flex-div-quote-and-content-friend-feed {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}

.quote-friend-feed-card {
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.quote-overflow-source-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.interesting-bulb {
  margin: 0px;
  padding: 0px;
  margin-left: 35px;
  color: black;
}

.comment-icon {
  margin: 0px;
  margin-left: 35px;
}

.share-icon {
  margin: 0px;
  margin-left: 35px;
}

.comment-input-field {
  margin: 10px;
  width: 92%;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: #F8FFF5;
}

.comment-input-field::placeholder {
}
