.all-friends-cards {
  overflow-y: scroll;
  max-height: 80vh;
  margin-top: 9px;
}

.friend-quote-card {
  background-color: #282828;
  margin-right: 15px;
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15)
}

.friend-quote-list {
  list-style: none;
  padding-inline-start: 0px;
}

.flex-div-quote-and-content-friend-feed {
  display: flex;
  align-items: flex-start;
  margin-left: 25px;
}

.quote-friend-feed-card {
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.quote-overflow-source-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.interesting-bulb {
  margin: 0px;
  padding: 0px;
  margin-left: 35px;
  color: black;
}


.share-icon {
  margin: 0px;
  margin-left: 35px;
}

.comment-input-field {
  margin: 10px;
  width: 92%;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: #F8FFF5;
}

.comment-input-field::placeholder {
}

.friends-activity-title {
  margin-top: -8px;
}

.white-text-friend-card {
  color: #B7B7B7;
}
