.all-source-cards {
  overflow-y: scroll;
  max-height: 80vh;
  margin-top: 9px;
}

.friend-source-card {
  background-color: white;
  margin-right: 15px;
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #9C9C9C;
}

.friend-source-list {
  list-style: none;
  padding-inline-start: 0px;
}

.avatar-and-username {
  width: auto;
  max-width: 170px;
}

.title-friend-feed-card {
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.friends-activity-title {
  margin-top: -8px;
}

.title-source-friends {
  font-family: 'Merriweather', serif;
}

.time-friends-card {
  font-family: 'TimesNewRoman';
  font-size: 14px;
  color: #666666;
}

.friend-card {
  color: black;
}

.friend-card-hover:hover {
  color: #666666;
  text-decoration: none;
}

.friend-username-feed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
