.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Inconsolata', monospace;
}

.banner h4 {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-textfield {
  margin-left: 100px;
  margin-top: 115px;
}

.banner-textfield h1 {
  color: white;
}

.banner-textfield h4 {
  color: white;
  width: 400px;
}

.banner-button {
  margin-left: 100px;

}
