.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Inconsolata', monospace;
}

.banner h4 {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-textfield {
  margin-left: 45px;
  margin-top: 120px;
}

.banner-textfield h1 {
  color: white;
}

.banner-textfield h4 {
  color: white;
}

.lp-button-top {
  float: right;
  position: absolute;
  top: 15px;
  right: 15px;
}

.fw-lp {
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
}

.favs {
  margin-left: 100px;
  margin-top: 158px;
}

.icon-headline {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  color: white;
  margin-left: 15px;
}

ul {
  list-style-type: none;
}

.scroll-down {
  font-size: 50px;
  // margin-bottom: 80px;
}
