#move-folder .form-control.is-valid {
  background-image: none !important;
}

.modal-content {
  padding: 30px;
}

#comment_content {
  display: block;
}

#comment_source {
  display: block;
}

.comment_submit {
  margin-top: 12px;
}
