*:focus {outline:none !important}
.searchbar {
  width: 100%;
  margin-top: 20px;
}

.searchbar-field {
  margin-bottom: 5px;
  background-color: #FFF;
  border: 0px solid;
  width: 97%;
}

// .searchbar-field:hover {
//   background-color: #E9EBE8;
// }

.searchbar-field:focus {
  background-color: rgba(255, 255, 3, 0.19);
  outline: none !important;
}

.searchbar-field:active {
  background-color: rgba(255, 255, 3, 0.19);
}

.searchbar .form-control {
  padding-left: 35px;
}

.form-control[type=text] {
  color: black;
}

.form-control::placeholder {
  color: #C3C3C3;

}

.form-control:hover::placeholder {
  color: black;
}

.searchbar .form-control:focus {
  box-shadow: none;
  border-color: transparent;
}

.container {
  display: flex;
}

.search-bar-icon {
  color: #6B6B6B;
  top: 133px;
  left: 295px;
  position: absolute;
}


