.sidebar-rest .nav-bar-links ul {
  padding-left: 50px;
  list-style: none;
  margin-bottom: 5px;
}

.nav-bar-links li {
  font-size: 18px;
  display: inline;
  color: black;
}

.nav-bar-links:hover {
  text-decoration: none;
}

.sidebar-rest .home-btn-navbar {
  margin-top: 10px;
}

.logo-sidebar {
  position: relative;
  left: 86px;
  top: 20px;
  margin-bottom: 50px;
}

.div-folder-in-sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px 30px 30px 0px;
  width: 255px;
}

.div-folder-in-sidebar:hover {
  background-color: rgba(255, 255, 3, 0.19);
  text-decoration: none;
}

.div-folder-in-sidebar.active {
  background-color: #FFFF7F;
  text-decoration: none;
}

.all-folders-in-sidebar ul {
  list-style: none;
  padding-inline-start: 0px;
}

.folder-in-sidebar {
  text-decoration: none;
  padding-left: 40px;
  margin-left: 2px;
  border-radius: 0px 30px 30px 0px;
  color: black;
}

.folder-in-sidebar:hover {
  text-decoration: none;
  color: black;
}

.ul-text-decoration:hover {
  text-decoration: none;
}

.div-main-links-sidebar {
  border-bottom: 1px solid #B7B9BD;
  padding-bottom: 10px;
}

.POS-ABS {
  color: black;
  position: absolute;
  left: 25px;
}

.ul-new-button {
  margin-bottom: 0px;
  padding-inline-start: 0px;
}

.new-button {
  border-radius: 2px;
  cursor: pointer;
  margin: 10px 10px 10px 22px;
  width: 38%;
  background-color: white;
  padding: 5px 10px 5px 18px;
  border: 1px solid #9C9C9C;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.new-button:hover {
  transform: scale(1.03);
  color: #666666;
}

.plus-icon-new-button {
  font-size: 20px;
  margin-right: 10px;
}

.new-text-new-button {
  font-size: 15px;
}

.new-button p {
  margin-block-end: 0px;
}
