.sidebar-rest .nav-bar-links ul {
  padding-left: 50px;
  list-style: none;
  margin-bottom: 5px;
}

.nav-bar-links li {
  font-size: 18px;
  display: inline;
  color: black;
}

.nav-bar-links:hover {
  text-decoration: none;
}

.sidebar-rest .home-btn-navbar {
  margin-top: 10px;
}

.logo-sidebar {
  position: relative;
  left: 86px;
  top: 20px;
  margin-bottom: 50px;
}

.div-folder-in-sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px 30px 30px 0px;
  width: 270px;
  margin-left: 28px;
}

.div-folder-in-sidebar:hover {
  background-color: rgba(255, 255, 3, 0.19);
  text-decoration: none;
}

.div-folder-in-sidebar.active {
  background-color: #FFFF7F;
  text-decoration: none;
}

.all-folders-in-sidebar ul {
  list-style: none;
  padding-inline-start: 0px;
  padding-top: 28px;
}

.folder-in-sidebar {
  text-decoration: none;
  padding-left: 40px;
  margin-left: 2px;
  border-radius: 0px 30px 30px 0px;
  color: black;
}

.folder-in-sidebar:hover {
  text-decoration: none;
  color: black;
}

.ul-text-decoration:hover {
  text-decoration: none;
}

.div-main-links-sidebar {
  border-bottom: 1px solid #B7B9BD;
  margin-bottom: 20px;
  margin-top: -10px;
  padding-bottom: 10px;
}

.plus-add-folder {
  position: absolute;
  font-size: 20px;
  top: 280px;
  left: 42px;
  // display: flex;
  // justify-content: flex-end;
  color: black;
}

.plus-add-folder:hover {
  color: black;
}

.add-folder-text {
  font-size: 18px;
}

.add-folder-text:hover {
  text-decoration: none;
}

.plus-add-folder p {
  margin-top: 3px;
  margin-bottom: 0rem;
  margin-right: 8px;
}

.POS-ABS {
  color: black;
  position: absolute;
  left: 25px;
}
