.sidebar-rest .nav-bar-links ul {
  padding-left: 50px;
  list-style: none;
  margin-bottom: 5px;
}

.nav-bar-links li {
  font-size: 18px;
  display: inline;
  color: black;
}

.nav-bar-links:hover {
  text-decoration: none;
}

.sidebar-rest .home-btn-navbar {
  margin-top: 10px;
}

.logo-sidebar {
  position: relative;
  left: 86px;
  top: 20px;
  margin-bottom: 50px;
}

.div-folder-in-sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px 30px 30px 0px;
  width: 270px;
}

.div-folder-in-sidebar:hover {
  background-color: #E9EBE8;
  text-decoration: none;
}

.div-folder-in-sidebar.active {
  background-color: #D0DACD;
  text-decoration: none;
}

.all-folders-in-sidebar ul {
  list-style: none;
  padding-inline-start: 0px;
}

.folder-in-sidebar {
  text-decoration: none;
  padding-left: 40px;
  margin-left: 0px;
  border-radius: 0px 30px 30px 0px;
  color: black;
}

.folder-in-sidebar:hover {
  text-decoration: none;
  color: black;
}

.ul-text-decoration:hover {
  text-decoration: none;
}

.div-main-links-sidebar {
  border-bottom: 1px solid #B7B9BD;
  margin-bottom: 20px;
}

.plus-add-folder {
  position: absolute;
  font-size: 20px;
  top: 220px;
  left: 245px;
  // display: flex;
  // justify-content: flex-end;
  color: black;
}

.plus-add-folder:hover {
  color: black;
}

.plus-add-folder p {
  margin-top: 3px;
  margin-bottom: 0rem;
  margin-right: 8px;
}

.POS-ABS {
  color: black;
  position: absolute;
  left: 25px;
}
