

.sidebar-rest .nav-bar-links ul {
  padding-left: 50px;
  list-style: none;
  margin-bottom: 5px;
}

.nav-bar-links li {
  font-size: 18px;
  display: inline;
  color: black;
}

.nav-bar-links:hover {
  text-decoration: none;
}

.sidebar-rest .home-btn-navbar {
  margin-top: 10px;
}

.logo-sidebar {
  margin: 20px;
}

.div-folder-in-sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px 30px 30px 0px;
  width: 270px;
}

.div-folder-in-sidebar:hover {
  background-color: #D0DACD;
  text-decoration: none;
}

.all-folders-in-sidebar ul {
  list-style: none;
  padding-inline-start: 0px;
}

.folder-in-sidebar {
  text-decoration: none;
  padding-left: 40px;
  margin-left: 0px;
  border-radius: 0px 30px 30px 0px;
  color: black;
}

.folder-in-sidebar:hover {
  text-decoration: none;
  background-color: #D0DACD;
  color: black;

}

.ul-text-decoration:hover {
  text-decoration: none;
}
