.all-sources-home {
  height: 80vh;
  overflow-y: scroll;
  padding-top: 3px;
}

.source-card {
  border: 1px solid #9C9C9C;
  margin-top: -1px;
  position: relative;
}

.source-list-top-div {
  list-style: none;
  padding-inline-start: 0px;
  margin: 5px;
  color: black;
}

.move-btn {
  color: black;
}

.source-collapse-link:hover {
  text-decoration: none;
  color: black;
}

.source-list-quotes {
  list-style: none;
  padding-inline-start: 0px;
  margin-bottom: 0px !important;
}

.favicon-source-card {
  margin: 10px;
}

.source-card-title {
  font-family: "TimesNewRoman";
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  width: 620px;
}

.flex-div-favicon-and-title {
  display: flex;
  justify-content: space-between;
}

.saved-to {
  font-family: "TimesNewRoman";
  color: #85937E;
  margin-top: 16px;
  margin-bottom: 0px;
}

.time-since-save-source-card {
  font-family: "TimesNewRoman";
  margin-right: 10px;
  margin-top: 10px;
}

.flex-div-quote-and-content {
  display: flex;
  align-items: flex-start;
  margin-left: 53px;
}

// Javascript CSS
.quote-source-card {
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.quote-overflow-source-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.rotating-quotation-mark {
  transform: rotateZ(90deg);
  margin-bottom: 0px;
}
// UNTIL HERE

.d-flex-bottom-of-source-card {
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
}

.date_of_article {
  padding-left: 10px;
}

.show-locally-link {
  font-family: "TimesNewRoman";
  margin-right: 10px;
  color: black;
}

.show-locally-link:hover {
  text-decoration: none;
  color: black;
}

.show-locally-text {
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #9C9C9C;
}

.show-on-website-link {
  font-family: "TimesNewRoman";
  color: black;
}

.show-on-website-link:hover {
  text-decoration: none;
  color: black;
}

.show-on-website-text {
margin-left: 10px;
margin-right: 10px;
}

// THIS IS FOR THE INDEPENDENT MOVE AND DELETE ICONS -> Maybe we'll need it later
// .delete-source-card {
//   color: black;
//   font-size: 13px;
//   position: absolute;
//   top: 1px;
//   left: 3px;
// }

// .delete-source-card:hover {
//   color: black;
//   text-decoration: none;
// }

// .move-link {
//   position: absolute;
//   color: black;
//   padding: 0px;
//   margin: 0px;
// }

// .move-link:hover {
//   color: black;
// }

.delete-and-move-dropdown {
  position: absolute;
  font-size: 18px;
  top: 1px;
  left: 5px;
}

.create-new-quote-index-absolute {
  position: absolute;
  top: 103px;
  right: 290px;
  font-size: 25px;
  color: black;
}

.create-new-quote-index-absolute:hover {
  color: black;
}
// THIS IS THE MARGIN TO ALIGN THE CARDS ON FOLDER SHOW PAGE WITH CARDS ON INDEX SHOW PAGE, SHOULD BE CHANGED AT SOME POINT
.folder-show {
  margin-top: 43px;
}
