.all-sources-home {
  height: 70vh;
  overflow-y: scroll;
  margin: 20px;
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 3px;
}

.source-card {
  border: 1px solid #9C9C9C;
  margin-top: -1px;
  width: 800px;
  position: relative;
}

.source-list-top-div {
  list-style: none;
  padding-inline-start: 0px;
  margin: 5px;
  color: black;
}

.source-collapse-link:hover {
  text-decoration: none;
  color: black;
}

.source-list-quotes {
  list-style: none;
  padding-inline-start: 0px;
  margin-bottom: 0px !important;
}

.favicon-source-card {
  margin: 10px;
}

.source-card-title {
  margin-top: 10px;
  margin-right: 10px;
  width: 620px;
}

.flex-div-favicon-and-title {
  display: flex;
  justify-content: space-between;
}

.saved-to {
  color: #85937E;
  margin-top: 16px;
  margin-bottom: 0px;
}

.time-since-save-source-card {
  margin-right: 10px;
  margin-top: 10px;
}

.flex-div-quote-and-content {
  display: flex;
  margin-left: 53px;
}

.quote-source-card {
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.quote-overflow-source-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.quote-wrap-source-card {

}

.d-flex-bottom-of-source-card {
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
}

.date_of_article {
  padding-left: 10px;
}

.show-locally-link {
  margin-right: 10px;
  color: black;
}

.show-locally-link:hover {
  text-decoration: none;
  color: black;
}

.show-locally-text {
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #9C9C9C;
}

.show-on-website-link {
  color: black;
}

.show-on-website-link:hover {
  text-decoration: none;
  color: black;
}

.show-on-website-text {
margin-left: 10px;
margin-right: 10px;
}

.delete-source-card {
  color: black;
  font-size: 13px;
  position: absolute;
  top: 1px;
  left: 3px;
}

.delete-source-card:hover {
  color: black;
  text-decoration: none;
}
