.source-card {
  margin: 20px;
  border: 1px solid #9C9C9C;
  width: 800px;
}

.source-list {
  list-style: none;
  padding-inline-start: 0px;

}

.favicon-source-card {
  margin: 10px;
}

.source-card-title {
  margin-top: 10px;
  width: 650px;
  background-color: #DEDBC4;
}

.flex-div-favicon-and-title {
  display: flex;
}

.saved-to {
  color: #85937E;
  margin-top: 10px;
  margin-bottom: 0px;
}
