.comment-icon {
  margin: 0px;
  margin-left: 5px;
  margin-top: 7px;
  color: black;
}

.remove-underline:hover {
  text-decoration: none;
}

.quote-card-text {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
}

.quote-cards-list-source-show {
  margin-bottom: 16px;
  border: 1px solid #B5B6B5;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  padding: 20px 20px 15px 20px !important;
}

.comment-input-field {
  font-family: 'Inconsolata', monospace;
  margin-top: 16px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #B5B6B5;
  padding-left: 5px;
}

.each-comment-source-show {
  padding-inline-start: 0px;
  margin-bottom: 10px;
}


.comment-user-show {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.comment-user-show-time {
  font-family: "TimesNewRoman";
  font-size: 11px;
  font-weight: 300;
  color: #666666;
  margin-left: 5px;
}

.comment-user-show-text {
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 34px;
}

.user-avatar-information {
  display: flex;
  align-items: center;
}

.info-field-format {
  font-family: 'Merriweather', serif;
}

#quote-5 {
  margin-top: 24px;
}
