.capture-logo-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  color: black;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: black;
  text-align: center;
}

.subheading {
  font-family: 'Merriweather', serif !important;
  font-size: 20px !important;
  // line-height: 1.5;
}

.subheading-source-show {
  margin-top: 40px;
  max-width: 850px;
  margin-bottom: 0px;
  font-family: 'Merriweather', serif !important;
  font-size: 35px !important;
  // line-height: 1.5;
}

.right-column-heading {
  font-family: 'Merriweather', serif !important;
  font-size: 20px !important;
  border-bottom: 1px solid #D8CAAF;
  padding-bottom: 15px;
  margin-bottom: 6px;
  color: white;
  margin-right: 12px;
}
