.page-title {
  position: relative;
}

.page-title h1 {
  padding-left: 30px;
  margin-top: 35px;
  margin-bottom: 20px;
  font-family: 'Rock Salt', cursive;
}

.title-brush-small {
  position:absolute;
  top: 12px;
  left: 0px;
  z-index: -1;
}

.title-brush-big {
  position:absolute;
  top: 12px;
  left: -40px;
  z-index: -1;
}

.navbar {
  padding: 0px !important;
}
.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.username {
  margin-bottom: 0px;
  margin-right: 40px;
  margin-left: 15px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
