.about-us-content {
    padding: 168px;
    display: flex;
    flex-direction: column;
}

.about-us-title {
    color: $heading-color;
    font-size: 50px;
    font-family: $heading-font;
    font-weight: bold;
}

.about-us-subtitle {
    font-family: $heading-font;
    font-size: 18px;
    margin-top: 14px;
    line-height: 27.24px;

    a {
        color: black;
    }
  }

  .about-us-photos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;

    .about-us-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
