.comment-reply-notification{
  background-color: white;
  border-radius: 8px;
  border: 1px solid #D8D7D5;
  padding: 10px;
  margin-bottom: 10px;

  .avatar-and-message {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .time-ago {
      color: $dark-grey;
    }
  }

  .reply {
    margin-top: 5px;
    margin-bottom: 5px !important;
    p {
      margin-bottom: 0px;
      // color: $dark-grey;
    }
  }

  .parent {
    border-radius: 6px;
    border: 1px solid #D8D7D5;
    padding: 10px;

    // REPLY NOTIFICATION
    .reply-notification {
      display: flex;
      .avatar {
        margin-right: 5px;
      }
      .content-bubble {
        background-color: $light-grey;
        border-radius: 0px 8px 8px 8px;
        padding: 5px;
        width: 100%;
        color: black;
        p {
          &.username {
            font-family: "Open Sans", "sans-serif";
            font-weight: 600;
            font-size: 15px;
            font-weight: 600;
          }
          margin: 0px;
        }
      }
    }

    // COMMENT NOTIFICATION

    .comment-notification {
      display: flex;

      i {
        color: $primary-color;
        font-size: 45px;
        margin-right: 10px;
      }
      p {
        color: black;
        font-family: $standard-font;
        font-size: 15px;
        margin: 0px;
        span {
          background-color: rgba(255, 246, 37, 0.6);
        }
      }
    }

    &:hover {
      text-decoration: none;
      background-color: $hover-grey;
    }
  }
}

