.quote-comment-btn {
  font-size: 12px;
  // margin-left: 55px;
  margin-top: 5px;
  background-color: $light-grey;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 5px;
  a {
    color: $dark-grey;
  }
}

.comments-div {
  margin-left: -50px;
}

.comment-div {
  margin-top: 10px;
  margin-left: 50px;

  .comment {
    display: flex;
    position: relative;

    .votes {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5px;

      .vote-anchor {
        display: block;
        height: 115px; /*same height as header*/
        margin-top: -115px; /*same height as header*/
        visibility: hidden;
      }

      .upvote {
        color: $dark-grey;
        font-size: 25px;
        margin-bottom: -5px;
        text-decoration: none;
      }

      .number-of-votes {
        line-height: 14px;
      }

      .downvote {
        color: $dark-grey;
        font-size: 25px;
        margin-top: -7px;
        text-decoration: none;

      }

      #active-vote {
       color: $primary-color;
      }

      .comment-anchor {
        display: block;
        height: 115px; /*same height as header*/
        margin-top: -115px; /*same height as header*/
        visibility: hidden;
      }
    }

    .comment-avatar img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 5px;
    }

    .box-and-btn {
      width: 100%;

      .comment-content-box {
        width: 100% !important;
        background-color: #EFEFEF;
        border-radius: 0px 8px 8px 8px;
        padding: 5px 8px;

        .user-and-time {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: black;

          .user {
            font-family: $standard-font;
            font-weight: 600;
            font-size: 15px;
            margin: 0px;
          }

          .time {
            font-family: $standard-font;
            font-size: 12px;

          }
        }

        .comment-text {
          color: black;
          font-family: $standard-font;
          margin: 0px;
          font-size: 15px;
        }
      }

      .reply-btn{
        margin-top: 2px;
        font-size: 12px;
        a {
          color: $dark-grey;
        }
      }
    }

    .comment-delete {
      position: absolute;
      top: 30px;
      right: 10px;
      font-size: 12px;
      i {
        color: $primary-color;
      }
    }
  }

}
