<div class="left-column">
  <%= render('shared/left-column/side-navbar') if user_signed_in? %>
  <%= render 'shared/left-column/create-folder' if user_signed_in? && current_page?(sources_path)%>
</div>
