<div class="left-column">
  <%= render('shared/left-column/side-navbar', folders: @folders) if user_signed_in? %> <!-- this is comming from the application controller (set_folder method) -->
  <%= render 'shared/left-column/create-folder' %>
</div>
